[user]
	email = 
	name = 
[credential]
	helper = cache --timeout=360000000
# [core]
# 	editor = code --wait
# 	pager = delta
# [diff]
# 	tool = vscode
# [difftool "vscode"]
# 	cmd = code --wait --diff $LOCAL $REMOTE
# [merge]
# 	tool = vscode
# [mergetool "vscode"]
# 	cmd = code --wait $MERGED
# [delta]
# 	side-by-side = true
# [init]
# 	defaultBranch = main
[core]
	editor = nvim -c 'set ft=gitcommit'
	pager = delta
[diff]
	tool = nvim
[difftool "nvim"]
	cmd = nvim -d "$LOCAL" "$REMOTE"
	prompt = false
[merge]
	tool = nvim
[mergetool "nvim"]
	cmd = nvim -d "$LOCAL" "$REMOTE" "$BASE" "$MERGED"
	prompt = false
